PORT=5000
# MONGO_URI string (example: mongodb://localhost:27017/dbname)
MONGO_URI=

# JWT Secret for authentication
JWT_SECRET=

# Frontend Application URL
CLIENT_URL=http://localhost:5173

# Cloudinary Credentials (for image/video storage)
CLOUD_NAME=
CLOUD_KEY=
CLOUD_SECRET=

# Video settings
MAX_VIDEO_MB=100
